{
    Language: Cpp,
    PointerAlignment: Left,
    AlignConsecutiveAssignments: true,
    AlignConsecutiveBitFields: true,
    AlignConsecutiveDeclarations: true,
    AlignConsecutiveMacros: true,
    AllowShortBlocksOnASingleLine: true,
    AllowShortCaseLabelsOnASingleLine: true,
    AllowShortFunctionsOnASingleLine: true,
    AllowShortLoopsOnASingleLine: true,
    AllowAllConstructorInitializersOnNextLine: false,
    AllowAllParametersOfDeclarationOnNextLine: false,
    AlignAfterOpenBracket: Align,
    AllowAllArgumentsOnNextLine: false,
    BinPackArguments: true,
    BinPackParameters: true,
    TabWidth : 4,
    IndentWidth: 4,
    ColumnLimit: 0,
    UseTab: false,
    SortIncludes: false,
    SortUsingDeclarations: false,
    BreakInheritanceList: BeforeColon,
    BreakBeforeBraces: Allman,
    IndentCaseBlocks: true,
    IndentCaseLabels: false,
    IndentGotoLabels: false,
    IndentPPDirectives: AfterHash,
    NamespaceIndentation: None,
    SpaceBeforeAssignmentOperators: true,
    SpacesInAngles: true,
    SpacesInCStyleCastParentheses: true,
    SpacesInConditionalStatement: true,
    SpacesInContainerLiterals: true,
    SpacesInParentheses: true,
    SpacesInSquareBrackets: true,
}

